* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: gainsboro;
}

.header div .logo img {
    filter: invert();
    aspect-ratio: 1/1;
}


.logo {
    max-width: 45px;
    min-height: 45px;

}


ul {
    list-style: none;
}

.header div {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 20px;
}

.lista li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



.lista {
    display: flex;
}


.links {
    list-style: none;
}


.tarjeta {
    background-color: #e9e9e992;
    width: 250px;
    height: 350px;
    margin: 20px;
    text-align: center;
    
}

.fotografia-contenido {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-content: space-evenly;
    justify-content: center;
}

.section-fotografia img {
    height: 390px;
    width: 920px;
    padding: 50px;

}

.section-fotografia {
    padding: 20px;
}

.main .section-fotografia {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fotografia h3 {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.fotografia {
    margin-bottom: 100px;
}

.testimonio {
    padding: 50px 50px 50px 50px;
    display: flex;
    align-items: center;
}

.main .vision {
    padding: 50px 50px 50px 50px;
    display: flex;
    align-items: center;
}

.mainQuienesSomos {
   
    margin: 200px;

}

.imagenQuienesSomos {
        width: 100%;
        height: auto;
}


.contacto {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px 50px 50px;
}

.agendar {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px 50px 50px;
}

.imagenAgendar {
    width: 100%;
    height: auto;
}



.footer {
    background-color: rgb(34, 33, 33);
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none
}

.navbar-mobile {
    display: none;
}



@media screen and (max-width: 576px) {
   
    .navbar-mobile {
        display: initial;
    }

    .navbar-desktop {
        display: none;
    }

    .body {
        display: block
    }

    .vision {
        flex-direction: column;
    }

    .testimonio {
        flex-direction: column;
    }

    .header {
        background-color: none;
    }

    .header div {
        justify-content: space-evenly;
    }

    .div.lista {
        display: none;
        padding: auto;
    
    }

    .foto-testimonio {
        min-width: 100%;
        min-height: 100%;
    }
}