

@mixin flex ($direccion) {
    display: flex;
    flex-direction: $direccion;

}



$colors: (
    (colorPrimario: gainsboro)
);







.main {
    .section-fotografia {
        padding-top: 150px;
        @include flex (column);
        align-items: center;
        margin: 50px;
    }

}


.tarjeta {
    background-color: map-get($colors, colorPrimario );
    width: 250px;
    height: 350px;
    margin: 20px;
    text-align: center;

    p {
        padding-top: 20px;
    }

    .btn-primary {
        --bs-btn-color: #fff;
        --bs-btn-bg: #000000;
        --bs-btn-border-color: #000000;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #000000;
        --bs-btn-hover-border-color: #000000;
        --bs-btn-focus-shadow-rgb: 49, 132, 253;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: rgb(83, 83, 83);
        --bs-btn-active-border-color: rgb(83, 83, 83);
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: rgb(83, 83, 83);
        --bs-btn-disabled-border-color: rgb(83, 83, 83);
    }

}




.fotografia {
    h3 {
        padding-top: 50px;
        @include flex (column);
        align-items: center;

    }

    .fotografia-contenido {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-content: space-evenly;
        justify-content: center;
    }

}

.photo-gallery {
    padding: 50px;
}

.col-sm-6 {
    padding-bottom: 20px;
}

.testimonio {
    padding: 50px 50px 50px 50px;
    @include flex (center);

    .foto-testimonio {
        object-fit: cover;
        width: 20%;
        height: 20%;
    }
}



.vision {
    padding: 50px 50px 50px 50px;
    @include flex (flex-start);
    align-items: center;
}


.mainQuienesSomos {


    margin: 35px;

    .imagenQuienesSomos {
        width: 100%;
        height: auto;
    }

    .textoQuienesSomos {
        font-style: normal;
    }

}


.contacto {
    padding-top: 50px;
    padding-bottom: 50px;
    @include flex (column);
    align-items: center;
    padding: 50px 50px 50px 50px;
    justify-content: space-evenly;
}

.agendar {
    padding-top: 50px;
    padding-bottom: 50px;
    @include flex (column);
    align-items: center;
    padding: 50px 50px 50px 50px;

    .imagenAgendar {
        width: 100%;
        height: auto;
    }
}

.contacto {
    margin: 20px;
}


.accordion {
    width: 100%;
    .accordion-button.collapsed {
        background-color: rgb(210, 210, 210);
    }
    
    
}

.footer {
    background-color: #212529;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    flex-direction: column;
}

.PFotter {
    color: #fff;
}

